###### Requirements without Version Specifiers ######
numpy
matplotlib
progressbar2
Pillow
keras
nilearn==0.5.0
pandas
nibabel
six
h5py
xlrd
plotly
imblearn
pymodm==0.4.1
scipy==1.2
statsmodels
flask
prettytable
seaborn
hypertools
joblib
dask
distributed
scikit-learn==0.21.0
scikit-optimize
scikit-image
scikit-learn-extra
pytest
pixiedust
pylint
utils
clusim

# bcolz
# fabolasin
# george
# emcee
# you need FORTRAN compiler for the DIRECT package: sudo apt-get install gfortran
# DIRECT